#fotoPerfil {
    width: 200px;
    margin: 2rem 0;
    border-radius: 50%;
}

.seccion-bienvenida {
    margin: 5rem 0 10rem 0;
    color: white;
}

    .seccion-bienvenida h1 {
        margin-bottom: 1rem
    }

    .seccion-bienvenida p {
        font-family: sans-serif;
        line-height: 1.5;
        font-size: 1.25rem;
    }

.cabecera {
    font-weight: bold;
}

.habilidades ul {
    list-style: none;
    padding-left: 0;
}

.habilidades i {
    font-size: 50px;
}

.card-img-container {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

    .card-img-container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
