<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">


        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Backend</h3>
            <p>
                Desarrollo, pruebas y despliegue de aplicaciones robustas.
            </p>
            <ul>
                <li>Diseño y consumo de Web APIs</li>
                <li>Gestión de bases de datos relacionales</li>
                <li>Desarrollo de lógica empresarial</li>
            </ul>

            <p class="text-primary cabecera">
                Tecnologías:
            </p>
            <p>
                Java, Python, .NET, C#, SQL
            </p>


        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Frontend</h3>
            <p>
                Diseño y desarrollo de interfaces de usuario intuitivas.
            </p>
            <ul>
                <li>Interfaces responsivas</li>
                <li>Integración con APIs</li>
                <li>Optimización de rendimiento</li>
            </ul>

            <p class="text-primary cabecera">
                Tecnologías:
            </p>
            <p>
                Vue.js, HTML/CSS
            </p>
        </div>
    </div>

    <!-- Formacion -->
    <div class="row justify-content-md-center text-center mt-4">
      
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-mortarboard-fill"></i>
            <h3>Formación Académica</h3>
            <p class="text-primary cabecera">
                Universidad
            </p>
            <p>
                Grado en Ingeniería Informática
                <br />
                Mención en Tecnologías de la Información<br />
                <small>Septiembre 2020 – Actualidad</small>
            </p>

            <p class="text-primary cabecera">
                Ciclo Formativo de Grado Superior
            </p>
            <p>
                Desarrollo de Aplicaciones Multiplataforma
                <br />
                <small>I.E.S. Murgi, El Ejido</small>
                <br />
                <small>Septiembre 2018 – Junio 2020</small>
            </p>
        </div>

        <!-- Certificados -->
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-award-fill"></i>
            <h3>Cursos y Certificaciones</h3>
            <ul>
                <li>Machine Learning with Python <br /><small>IBM Developer Skills Network</small></li>
                <li><br />Python for Data Science <br /><small>IBM Developer Skills Network</small></li>
                <li><br />JUMP: Cómo afrontar con éxito un proceso de selección <br></><small>Universidad de Almería</small> </li>
                <li><br />CCNA: Introduction to Networks <br /><small>Cisco Networking Academy</small></li>
            </ul>
        </div>
    </div>

    <!--EXPERIENCIA-->
    <div class="row justify-content-md-center text-center mt-4">
        <div class="col col-6 bg-white habilidades" style="border-radius: 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-briefcase-fill"></i>
            <h3>Experiencia Laboral</h3>
            <p class="text-primary cabecera">
                Greenside Solutions, Almería
            </p>
            <p>
                Programador Fullstack C# .NET<br />
                <small>Julio 2024 – Octubre 2024</small>
            </p>
        </div>
    </div>
</div>
