<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Backend</h3>
            <p>
                Trabajo de desarrollo, pruebas, y puesta en produccion
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary cabecera">
                Experiencia
            </p>

            <ul>
                <li>Web APIs</li>
                <li>Web APIs</li>
                <li>Web APIs</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Frontend</h3>
            <p>
                Trabajo de diseño
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                Vue.js, HTML/CSS
            </p>

            <p class="text-primary cabecera">
                Experiencia
            </p>

            <ul>
                <li>JqUERY</li>
                <li>Web APIs</li>
            </ul>
        </div>
    </div>
</div>
