@model Persona //model con minuscula define el tipo del dato (@model string o Persona) y con M mayuscula accede al dato en concreto

@{
    //Vistas que se corresponden con las acciones del controlador HomeController
    ViewData["Title"] = "Principal";//Transmite esta informacion al layout, poniendo titulo a la pagina

    string convertirMayusculas(string valor)
    {
        return valor.ToUpper() + " JEJE";
    }
}
<div class="text-center">
    <!--<h1 class="display-4">Soy @ViewBag.Nombre</h1>-->
    <h1 class="display-4">Soy @convertirMayusculas(Model.Nombre) (@Model.Edad)</h1>

    @if(Model.Edad >= 18)
    {
        <h4 class="display-4">:)</h4>
    }
    else
    {
        <h4 class="display-4">:(</h4>

    }

    <h2>Software developer especializado</h2>

    <!--Puedes ponerlo de manera directa pero es mejor colocarlo en el css-->
    <!--<img
        style="width: 200px; margin: 2rem 0; border-radius: 50%" 
        src="~/images/img1.png" alt="Foto Perfil"/>-->

    <!--Ahora para enlazar mi custom.css debemos agregar el link a Layout en Shared-->
    <img id="fotoPerfil"
         src="~/images/img1.png" alt="Foto Perfil" />
</div>
