@model HomeIndexViewModel

@{
    //Vistas que se corresponden con las acciones del controlador HomeController
    ViewData["Title"] = "Principal";//Transmite esta informacion al layout, poniendo titulo a la pagina

    /*string convertirMayusculas(string valor)
    {
        return valor.ToUpper() + " JEJE";
    }*/
}
<!--Para mostrar una vista parcial-->
<partial name="_Presentacion" />

<partial name="_Habilidades" />

@if (Model.Proyectos is not null)
{
    <div class="text-center" style="padding-top: 6rem">
        <h1>Mis proyectos</h1>
        <p>Algunos de mis proyectos realizados</p>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            @foreach (var proyecto in Model.Proyectos)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@proyecto.ImagenURL" class="card-img-top" alt="imagen Proyecto">
                        <div class="card-body">
                            <h5 class="card-title">@proyecto.Titulo</h5>
                            <p class="card-text">@proyecto.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="@proyecto.Link" target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
}
